<!--<h1 style="color: red">Delete! Are you sure?</h1>-->
<!--<form [formGroup]="productForm" (ngSubmit)="deletePro()">-->
<!--  &lt;!&ndash;  <div>&ndash;&gt;-->
<!--  &lt;!&ndash;    <label for="id">Mã sản phẩm</label>&ndash;&gt;-->
<!--  &lt;!&ndash;    <input type="text" id="id" formControlName='id'>&ndash;&gt;-->
<!--  &lt;!&ndash;  </div>&ndash;&gt;-->
<!--  <div>-->
<!--    <label for="name">Tên sản phẩm</label>-->
<!--    <input type="text"  id="name" formControlName='name'>-->
<!--  </div>-->
<!--  <div>-->
<!--    <label for="price">Giá sản phẩm</label>-->
<!--    <input type="text"  id="price" formControlName='price'>-->
<!--  </div>-->
<!--  <div>-->
<!--    <label for="description">Mô tả sản phẩm</label>-->
<!--    <input type="text" id="description" formControlName='description'>-->
<!--  </div>-->
<!--  <div>-->
<!--    <button>Delete</button>-->
<!--  </div>-->

<!--</form>-->

<app-product-list></app-product-list>
